*{
    font-family: cursive;
}

.playerContainer{
    display: flex;
}

.player{
    width: 18rem;
    border-radius: 2rem;
    padding: 1px;
}

.playernameAndprofile{
    margin-left: 1.3rem;
}

.playerProfile > img{
    border-radius: 4rem;
    margin: 0.4rem;
}

.dice{
    margin: auto;
    & img{
        border-radius: 1.5rem;
    }
    & :hover{
        cursor: pointer;
    }
}